//
//  {{ module_info.file_name }}
//  {{ module_info.project_name }}
//
//  Created by {{ developer.name }} on {{ date }}.
//  Copyright © {{ year }} {{ developer.company }}. All rights reserved.
//

import Foundation

protocol {{ module_info.name }}PresenterOutput: class {

}

final class {{ module_info.name }}Presenter {

    weak var view: {{ module_info.name }}ViewInput?
    var output: {{ module_info.name }}PresenterOutput!
}

extension {{ module_info.name }}Presenter: {{ module_info.name }}ViewOutput {

  func viewIsReady() {

  }
}
