//
//  {{ module_info.file_name }}
//  {{ module_info.project_name }}
//
//  Created by {{ developer.name }} on {{ date }}.
//  Copyright © {{ year }} {{ developer.company }}. All rights reserved.
//

import UIKit

protocol {{ module_info.name }}ViewInput: class {

}

protocol {{ module_info.name }}ViewOutput {
    func viewIsReady()
}

final class {{ module_info.name }}ViewController: ViewController {

    var output: {{ module_info.name }}ViewOutput!

    override func viewDidLoad() {
        super.viewDidLoad()

        output.viewIsReady()
    }
}

extension {{ module_info.name }}ViewController: {{ module_info.name }}ViewInput {

}
