//
//  {{ module_info.file_name }}
//  {{ module_info.project_name }}
//
//  Created by {{ developer.name }} on {{ date }}.
//  Copyright © {{ year }} {{ developer.company }}. All rights reserved.
//

import UIKit

protocol {{ module_info.name }}ModuleOutput: class {

}

final class {{ module_info.name }}Module {

    let storyboard = UIStoryboard(name: "{{ module_info.name }}", bundle: nil)

    weak var output: {{ module_info.name }}ModuleOutput?
    private weak var systemContext: SystemContext?

    func assemble(with systemContext: SystemContext?) -> UIViewController {
        guard let view = storyboard.instantiateInitialViewController() as? {{ module_info.name }}ViewController else {
            assert(false)
            return UIViewController()
        }

        self.systemContext = systemContext

        let presenter = {{ module_info.name }}Presenter()

        view.output = presenter
        presenter.view = view
        presenter.output = self

        return view
    }
}

extension {{ module_info.name }}Module: {{ module_info.name }}PresenterOutput {

}
